* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: Roboto;
}

header > nav {
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #000000;
}

header > nav > a {
    color: #ffffff;
    display: flex;
    flex-grow: 0.5;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.view-books-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-books {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 1px;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
}

.view-books-id {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.view-books-other {
    width: 70%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.view-showUsers-forAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-showUsers-forAdmin > div {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
    margin: 20px 0px 20px 0px;
}

.view-showUsers-forAdmin > div > p {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 10%;
}

.view-showUsers-forAdmin > a {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 1px;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
}

.view-showUsers-forAdmin > a > div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 10%;
}

.view-showUsers-forAdmin > p {
    flex-direction: row;
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 1px;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
}

/*for profile*/
.view-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-profile > div {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 1px;
    width: 90%;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
}

.view-profile > div > p {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 10%;
}

.view-profile > div > a{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 10%;
}

.view-profile > div > form{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 10%;
}

/*end for profile*/

/*for form*/
.view-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.view-form > form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.view-form > form > p {
    margin: 10px;
}

.view-form > form > p > input {
    border: none;
    border-bottom: 1px solid black;
}

.view-form > form > button {
    background-color: #b7b0b0;
    border-radius: 1em;
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
    border: none;
}

/*end form*/